.delivery {
  margin-top: 5rem;

  .delivery-section {
    background: #fcecea;
    border-radius: 24px;
    padding: 6rem 0;

    .btn {
      @include btnPrimary();
      font-size: 3.5rem;
      background: #fff;
      color: $primaryColor;
      border: none;
      box-shadow: 0px 22px 40px rgba(142, 108, 154, 0.1),
        0px 8.47407px 12.7407px rgba(142, 108, 154, 0.0607407),
        0px 1.79259px 3.25926px rgba(142, 108, 154, 0.0392593);


        &:hover {
            background: $primaryColor;
            color: #fff;
        }
    }
  }
}
