.header-wrapper {
  background: url("../../images/header/background.png");
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 40px 40px;


  @media (max-width: 1200px) {
      height: 100vh;
  }

  .header-section {
    z-index: 1000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;



    @media (max-width: 1200px) {
        flex-direction: column-reverse;

        img {
            width: 100%;
        }
    }

    .header-left {
      h1 {
        font-size: 6rem;
      }

      p {
        font-size: 2rem;
        padding: 2rem 0;
      }

      @media (max-width: 1200px) {

        text-align: center;
        margin-top: 3rem;

          h1 {
              font-size: 3.5rem;
          }
      }
    }

    form {
      padding: 1rem;
      border-radius: 1.5rem;
      align-items: center;
      display: flex;

      input {
        padding: 1.3rem;
        border-radius: 30px 0 0 30px;
        font-size: 1.7rem;
        

          ::placeholder {
            color: #bababa;
          }
      }

      .input-btn {
          background-color: #FF6A00;
          padding: 1.2rem;
          border-radius: 0 30px 30px 0;
          font-size: 1.7rem;
          color: #fff;
          border: 1px solid #FF6A00;


          &:hover {
              background-color: transparent;
          }
      }

      @media (max-width: 1200px) {
          justify-content: center;
      }

    }
  }
}


.services {
    display: flex;
    justify-content: space-between;
    transform: translate(0, -10rem);

    .choose {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        background-color: #fff;
        border-radius: 16px;
        padding: 2rem 2.5rem;
        box-shadow: 0px 22px 40px rgba(142, 108, 154, 0.1), 0px 8.47407px 12.7407px rgba(142, 108, 154, 0.0607407), 0px 1.79259px 3.25926px rgba(142, 108, 154, 0.0392593);
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }


        p {
            font-size: 1.4rem;
        }
    }

    @media (max-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}