$primaryColor: #e24329;

@mixin btnPrimary($bgColor: $primaryColor) {
  padding: .6rem 1.5rem;
  border-radius: 21.5px;
  color: #fff;
  background-color: $primaryColor;
  font-size: 1.5rem;
  border: 1px solid $primaryColor;


  &:hover {
      background-color: transparent;
      color: $primaryColor;
  }
}



.section-title {
 color: #444B51;
 text-align: center;
 
 h1 {
    font-size: 5rem;
    font-weight: bold;
 }

 p {
     font-size: 2.2rem;
     padding: 1.3rem;
 }


}